.work-series-start,
.work-series-middle,
.work-series-end {
  position: relative;
}

.work-series-end:not(:first-child),
.work-series-middle:not(:first-child) {
  padding-top: 20px;
}

.work-series-start:not(:first-child),
.work-series-no-overlap:not(:first-child) {
  margin-top: 20px;
}

.work-series-start:after,
.work-series-middle:after,
.work-series-end:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 1px;
  margin-left: -20px;
}

.work-series-end:after {
  top: 0;
  height: 45px;
}

.work-series-start:after {
  height: calc(100% - 15px);
}

.work-series-start:before,
.work-series-middle:before,
.work-series-end:before {
  content: "";
  background: black;
  position: absolute;
  top: 35px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: -25px;
}

.work-series-start:before {
  top: 5px;
}
