if helper.validArray(resume.skills)
  div(class='skills margin-container-4')
    p(class='section-title no-alone-1') Skills
    div(class='container')
      each skill in resume.skills
        div(class='article no-break')
          span(class="name")=skill.name
          if helper.validArray(skill.keywords)
            span(class='keywords margin-text-1')=helper.beautifyArray(', ', skill.keywords)
